*{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6,ul,li,p{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

.row{
	margin: 0px;
	padding: 0px;
}
@font-face{
	font-family: Lato-Bold;
	src:url('../source/fonts/Lato-Bold.ttf') format('truetype');
}
@font-face{
	font-family: Lato-Light;
	src:url('../source/fonts/Lato-Light.ttf') format('truetype');
}
@font-face{
	font-family: Lato-Regular;
	src:url('../source/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face{
	font-family: Lato-Italic;
	src:url('../source/fonts/Lato-Italic.ttf') format('truetype');
}
.bold{font-family: Lato-Bold;}
.light{font-family: Lato-Light;}
.regular{font-family: Lato-Rerular;}
.italic{font-family: Lato-Italic;}
.white{color: white;}
body{background: #E0E0E0;}
/* Begin CSS for header-menu */
.container-max{
	width: 100%;
	height: 100%;
}
/* Begin CSS for corporation */
#corporation{
	background: #20206C;
}
#corporation i{
	font-size: 25px;
	color: white;
	display: block;
	border: 1px solid;
	border-radius: 40px;
	padding: 12px;
	height: 50px;
	width: 50px;
	margin: 5px 5px 0px 5px;
}
#corporation i:hover{
	background: black;
	color: white;
}
#corporation span{
	text-align: center;
	color: white;
	font-size: 14px;
}
.corporation-list-btn{
	margin-left: 20%;
	padding-bottom: 5px;
}
/* End CSS for corporation */

/* Begin CSS for footer */
.footer{
	background: #00003D;
	padding:5px 0px;
	margin-top: 10px;
}
.footer-left{
	font-size: 14px;
	color: white;
}
.footer-left p{
	line-height: 45px;
}
.footer-right{
	font-size: 14px;
	color: white;
	text-align: right;
	line-height: 45px;
	margin-right: 20px;
}
.footer-right a{
	color: #3B97F2;
}
/* End CSS for footer */

.collapse-li{
	border: none;
}
@media screen and (max-width: 768px){
	.collapse-li li{padding: 10px 0px;float: none;}
	.header-menu{padding: 0px 5px 0px 0px;}
	.lolo{padding-left: 5px;}
	.navbar-header button{margin:10px 0px;}
}

#accordion {
	margin: 0px 130px 0px 130px;
}
.account-settings-container #accordion{
	margin-top: 10px;
}
#tours {
	margin: 0px 130px 0px 130px;
}
.tour-container #tours{
	margin-top: 10px;
}
#insert-book-tour-form h3{
	margin-bottom: 10px;
}
#bookingHotels {
	margin: 0px 130px 0px 130px;
}
.hotel-container #bookingHotels{
	margin-top: 10px;
}
#user-list{
	margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
	overflow-x: auto;
}
#user-list th{
	margin: auto;
  text-align: left;
  padding: 8px;
}
#title .row .Status .btn-group {
	margin: 10px 0px 10px 0px;
}
#user .row .createuser .btn-group {
	margin: 10px 0px 10px 0px;
}
#group .row-1 .Group .btn-group {
	margin: 10px 0px 10px 0px;
}
#role-tab-content .row .createRole .btn-group {
	margin: 10px 0px 10px 0px;
}
#insert-customer-form h3{
	margin-bottom: 10px;
}
#insert-user-form h3{
	margin-bottom: 10px;
}
#insert-form h3{
	margin-bottom: 10px;
}
#insert-role-form h3{
	margin-bottom: 10px;
}
/* Begin CSS for accordion */
button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
  background-color: #A9A9A9;
  border: 2px solid #A9A9A9;
}
/* End CSS for accordion */

/* Begin CSS for tour-layout*/
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-3 {
		background-color: white; /* White */
		color: #000;
		border-radius: 3px;
		margin-top: 10px;
		height: 100%;
}
.bg-3 img{
	height: 250px;
	margin-top: 15px;
}
.bg-3 h3{
	font-size: 15px;
	margin: 5px 0px 5px 0px;
}
.bg-3 h2{
	margin-top: 5px;
	font-size: 30px;
}
.bg-3 a{
	margin: 5px 0px 10px 0px;
}
.description h1{
	text-align: center;
	margin-bottom: 20px;
}
.navbar {
		padding-top: 15px;
		padding-bottom: 15px;
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		font-size: 12px;
		letter-spacing: 5px;
}
.navbar-nav  li a:hover {
		color: #1abc9c !important;
}
#myCarousel img{
	height: 500px;
}
#myCarousel .carousel-inner{
	margin: 10px 0px 10px 0px;
}
/* End CSS for tour-layout */

/* Begin CSS for pagination */
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-top: 5px;
}
.pagination>li>a,
.pagination>li>span{
	color: #000;
	font-size: 17px;
}
.pagination>.active>span{
	background-color: #000;
	border-color: #000;
	margin-top: 5px;
}
.pagination>.active>span:hover{
	background-color: #000;
	border-color: #000;
}
.pagination>li:last-child>span{
	margin-top: 5px;
}
/* End CSS for pagination */

#modalTourInfo .modal-body .row h3{
	margin-bottom: 10px;
}
#addname{
	margin: 0px 0px 0px 425px;
}
#addroom{
	margin: 0px 0px 0px 415px;
}
#slide {
	margin: 10px 0px 10px 0px;
}
#description{
	margin: 10px 0px 10px 0px;
}
#promotion{
	margin: 10px 0px 10px 0px;
}
#insertdetail{
	margin: 50px 15px 10px 15px;
}
#savedetail{
	margin: 0px 0px 0px 425px;
}
#name_hotel{
	margin: 0px 150px 0px 140px;
}
