*{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6,ul,li,p{margin: 0;padding: 0;}
li{list-style: none;float: right;}
a{text-decoration: none;}

.row{
	margin: 0px;
	padding: 0px;
}
@font-face{
	font-family: Lato-Bold;
	src:url('../source/fonts/Lato-Bold.ttf') format('truetype');
}
@font-face{
	font-family: Lato-Light;
	src:url('../source/fonts/Lato-Light.ttf') format('truetype');
}
@font-face{
	font-family: Lato-Regular;
	src:url('../source/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face{
	font-family: Lato-Italic;
	src:url('../source/fonts/Lato-Italic.ttf') format('truetype');
}
.bold{font-family: Lato-Bold;}
.light{font-family: Lato-Light;}
.regular{font-family: Lato-Rerular;}
.italic{font-family: Lato-Italic;}
.white{color: white;}
body{background: #000;}
/* Begin CSS for header-menu */
.container-max{
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

/* Begin CSS for corporation */
#corporation{
	background: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
}
#corporation i{
	font-size: 30px;
	display: block;
	border: 1px solid;
	border-radius: 40px;
	padding: 16px;
	height: 65px;
	width: 65px;
	margin: 20px 5px 0px 5px;
}
#corporation i:hover{
	background: #5993d9;
	color: white;
}
#corporation span{
	text-align: center;
	margin-left: 10px;
}
.corporation-list-btn{
	margin:0px 20px 0px 200px;
	padding-bottom: 20px;
}

/* End CSS for corporation */

/* Begin CSS for about us*/
#about-us{
	background: #1bbc9b;
	text-align: center;
	padding: 50px 10%;
}
.about-title{
	padding-bottom: 45px;
}
.about-post{
	padding: 10px 0px;
}
.about-text{
	background: #fff;
	width: 220px;
	margin: 0 auto;
	padding: 10px 5px;
}
.about-text span{
	font-size: 18px;
}
.about-text p{
	font-size: 14px;
}
/* End CSS for about us */

/* Begin CSS for contact us */
#contact{
	background: #ecf0f1;
	padding: 20px 0px;
}
.contact-title{
	text-align: center;
	padding-bottom: 10px;
}
.form-left{
	padding: 0px 40px;
}
.form-left input{
	width: 100%;
	float: left;
	margin-bottom: 2px;
}
.form-left textarea{
	margin-bottom: 2px;
}
.form-left button{
	float: right;
}
.form-right{
	padding: 0px;
}
.form-right p{
	line-height: 28px;
}
/* End CSS for contact us */

/* Begin CSS for footer */
.footer{
	background: #2d3e50;
	padding:5px 0px;
	border: 2px solid #2d3e50;
	border-radius: 5px;
	margin-top: 10px;
}
.footer-left{
	font-size: 14px;
	color: #fff;
}
.footer-left p{
	line-height: 45px;
}
.footer-right{
	font-size: 14px;
	color: white;
	text-align: right;
	line-height: 45px;
	margin-right: 20px;
}
.footer-right a{
	color: white;
}

/* End CSS for footer */

/* Begin CSS for responsive menu */
.collapse-li{
	border: none;
}
@media screen and (max-width: 768px){
	.collapse-li li{padding: 10px 0px;float: none;}
	.header-menu{padding: 0px 5px 0px 0px;}
	.lolo{padding-left: 5px;}
	.navbar-header button{margin:10px 0px;}
}

/* Begin CSS for tab Title */
#accordion {
	margin: 0px 130px 0px 130px;
}
#accordion .panel {
	margin-top: 10px;
}
#user-list{
	margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
	overflow-x: auto;
}
#user-list th{
	margin: auto;
  text-align: left;
  padding: 8px;
}
#title .row .Status .btn-group {
	margin: 10px 0px 10px 0px;
}
#user .row .createuser .btn-group {
	margin: 10px 0px 10px 0px;
}
#group .row-1 .Group .btn-group {
	margin: 10px 0px 10px 0px;
}
#role-tab-content .row .createRole .btn-group {
	margin: 10px 0px 10px 0px;
}
/* Begin CSS for accordion */
button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
  background-color: #A9A9A9;
  border: 2px solid #A9A9A9;
}

/* End CSS for accordion */
